@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Inter&display=swap');
body
{
	background-color:#fff;
	color:#73716E;
	font-family:'Inter',Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	margin: 0
	}
h1, h2
{
	font-family: 'Cormorant Garamond', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #191612;
	margin: 5px
}
h1{ font-size: 70px}
h2{ font-size: 2.5rem}
h3{ 
	font-size: 20px; color: #C5A25D; 
	text-transform: uppercase;margin: 5px}
a{ color: #38561A; text-decoration: none}
a:hover{ color: #F99525}
.fontscript
{
	font-family: 'Style Script', cursive;
	font-size: 2rem
}
.container{	width: 80%; margin: auto}
*{ box-sizing: border-box}
.row { display: flex; flex-wrap: wrap}
.col-1 { width:8.33%}
.col-2{ width: 16.66%}
.col-3{ width: 25%}
.col-4{ width: 33.33%}
.col-5{ width: 41.66%}
.col-6 { width: 50%}
.col-7{ width: 58.33%}
.col-8{ width: 66.66%}
.col-9{ width: 75%}
.col-10{ width: 83.33%}
.col-11{ width: 91.66%}
.col-12{ width: 100%}
[class*="col-"]
{
	padding: 15px;
	border: 1px solid red
}
.img-100 { width: 100%; height: auto}
.justify-between{ justify-content: space-between}
.justify-center{ justify-content: center}
.justify-end{ justify-content: flex-end}

.text-yellow { color: #F7960C}
section{ padding: 100px 0}
.text-center { text-align: center}
.text-right{ text-align: right}
#muctieu
{
	background-image: url("../img/bg-muctieu.jpg");
	min-height: 600px;
	background-position: center top;
	color: white;
	display: flex;
	align-items:center;
	justify-content: center
}
#muctieu h2, #muctieu h1 { color: white}
.card-overlay{	
	position: relative;
	overflow: hidden
}/* tao quan he voi box con de box con dat vi tri theo dien tich cua box me*/
.card-overlay h4 
{ 	position: absolute; 
	background: #333; 	color: #fff; 
	left: -250px; bottom: 50px; 
	padding: 5px 10px
}
.card-overlay h5 
{ position: absolute;
	background: #333; color: #fff; 
	left: 15px; bottom: 0px; 
	padding: 5px 10px
}
.card-overlay img ,
.card-overlay h4,
.card-overlay h5 
{ 
	transition: all 1s
}
.card-overlay:hover >img { 
	transform: scale(1.2) rotate(5deg)
}
.card-overlay:hover >h4{ left: 15px}
.card-overlay:hover > h5{ bottom: 20px}
#khuyen-mai
{
	background: rgb(235,233,229);
background: linear-gradient(180deg, rgba(235,233,229,1) 0%, rgba(251,250,249,1) 47%, rgba(232,230,225,1) 96%);
}

.card{ position: relative}
.card p a { transition: all 0.5s; opacity: 0; text-decoration: none; color: #222}
.card span {transition: all 0.5s; position: absolute; left: 45%; font-size: 2rem; bottom: -5px }
.card:hover > p a{ opacity: 1}
.card:hover >span{position: absolute; left: 60%}
#banner .item{ position: relative}
#banner .item .caption
{
	position: absolute;
	width: 40%; top: 25%; left: 30%;
	text-align: center;
	color: #fff
}#banner .item .caption h1{ color: #fff}
.btn-primary
{ 
	background: #B4BB6B;
	border: none;
	padding: 10px 25px;
	border-radius: 50px;
	color: #fff; font-size: 1.2rem;
	cursor: pointer;
	margin-top: 20px
}
.btn-primary:hover { background:  #858C39;}
/*--------------------------- menu toi style o day------------*/
header .container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 999999
}
.menu ul
{ 
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex
}
.menu ul li { position: relative; 
perspective: 250px}
.menu ul li a
{ 
	color: #243024;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 20px;	
	display: block;
	font-weight:600;
	font-size: 18px;
	transition: all 0.5s
}
.menu ul li a:hover
{
	color: #B4BB6B
}

/*.menu ul ul
{
	display: block;
	background: #fff;
	box-shadow: 0 5px 5px rgba(200,200,200,0.5);
	position: absolute;
	width: 250px;
	left: 0;
	top: 200%;
	opacity: 0;
	visibility: hidden;
	transition: all .5s
}
.menu ul li:hover> ul{
	top: 100%;
	opacity: 1;
	visibility: visible
}
*/
.menu ul ul
{
	display: block;
	background: #ddd;
	box-shadow: 0 5px 5px rgba(200,200,200,0.5);
	position: absolute;
	width: 250px;
	left: 0; top: 100%;
	transform: rotateX(-90deg);
	transform-origin: center top;
	transform-style: preserve-3d;
	opacity: 0;
	visibility: hidden;
	transition: all 1s;


}
.menu ul li:hover> ul{
	transform: rotateX(0deg);
	opacity: 1;
	visibility: visible
}